body {
    background-color: #f4f4f4;  
}

center {
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

main {
    background-color: #f4f4f4; 
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    overflow: hidden; 
}

h2 {
    color: #333; 
}

label {
    display: inline;
    margin-bottom: 5px;
}

input {
    width: 30%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #333; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #111; 
}

section,
aside {
    float: left;
    width: 50%; 
    background-color: #f4f4f4; 
    padding: 10px;
    box-sizing:border-box;
}

#infoPoster {
    max-width: 100%; 
    display: block; 
    margin: left; 
    margin-top: 20px; 
    padding-left: 60%;
}

#resName, #resYear, #resActors, #Name, #Year, #Actors{
    padding-left: 60%;
}
